/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main_container {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.team_area {
  height: 210px;
  margin: 30px 0px;
}

.team_table {
  background-color: #D3D3D3;
  height: 140px;
  text-align: center;
  border: 1px solid white;
}
.employee, .employee_cont {
  height: 20px;
  width: 40px;
  border-radius: 20px;
  background-color: #D3D3D3;
}

span.title {
    display: block;
    position: absolute;
    top: 42%;
    left: 40%;
    height: 20px;
}

.employee_cont {
  background-color: gainsboro
}
.isFilled {
  background-color: black
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}
#alert-area {
  text-align: -webkit-center;
}
.alert-message {
    width: 55%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: grey;
    color: white;
    padding: 8px 5px 0;
    margin-bottom: 5px;
}
.searched{
  background-color: deepskyblue !important
}
.search-name {
  width: 310px !important;
  margin-top: 10px;
  float: right;
  position: relative;
  left: 105px;
}
.other_filter {
  position: relative;
  left: 88px;
}

.other_filter button{
  margin-top: 10px;
}
.add_filters {
  background-color: darkgray;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #fff;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: -198px;
  padding: 7px 10px;
  position: absolute;
  width: 250px;
  z-index: 1060;
}
.render_filters {
  position: relative;
  z-index: 1000;
}

.render_filters div {
  border-top: 1px solid black 
}
.add_filters label {
  padding: 10px;
}
.add_emp {
  display: inline-block;
}
.emp-list {
  padding: 10px;
}
form {
  position: absolute;
}
.black_overlay{
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.white_content {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 300px;
  padding: 20px;
  border: 5px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

.blur_effect {
  -webkit-filter: blur(5px);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AAB2BD;
    opacity: 0.7;
    z-index: 1000000000000;
}

#loading-message {
    position: fixed;
    width: 450px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    text-align: center;
    font-size: 1.5em;
    left: 50%;
    top: 45%;
    margin-left: -200px;
    margin-top: -50px;
    border-radius: 10px;
    z-index: 1000000000000;
}