/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main_container {
  border: 1px solid black
}

.area1, .area2, .area3, .area4, .area5, .area6 {
  height: 240px;
  margin: 30px 0px;
}

.table1, .table2, .table3, .table4, .table5, .table6 {
  background-color: #D3D3D3;
  height: 140px;
  text-align: center;
}
.employee_cont {
  height: 20px;
}
.employee {
  height: 20px;
  border-radius: 20px;
  background-color: #D3D3D3;
}

